<a href="https://colab.research.google.com/github/Niharika400/Assignment1.py/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Q1.L is the list defined as L=[11,12,13,14]

In [24]:
#WAP to add 50 and 60 in given list:
L=[11,12,13,14]
L.append(50)
L.append(60)
print("After adding 50 and 60  L is ",L)

After adding 50 and 60  L is  [11, 12, 13, 14, 50, 60]

In [25]:
#WAP to remove 11 and 13 from list:
del L[0]

print("After removing 11 L is",L)
del L[1]
print("After removing 13 L is",L)

After removing 11 L is [12, 13, 14, 50, 60]
After removing 13 L is [12, 14, 50, 60]

In [26]:
#WAP to sort L in ascending order:
L=[11,12,13,14]
L.sort()
print("After sorting L is:",L)

After sorting L is: [11, 12, 13, 14]

In [28]:
#WAP to sort L in descending order:
L=[11,12,13,14]
L.sort(reverse=True)
print("After sorting L is:",L)

After sorting L is: [14, 13, 12, 11]

In [32]:
#WAP to search for 13 in L:
L=[11,12,13,14]

print("Original list->",13 in L)

Original list-> True

In [57]:
#WAP to count number of elements present in L:
L=[11,12,13,14]
print("number of elements->",len(L))

number of elements-> 4

In [68]:
#WAP to sum all odd numbers in L:
L=[11,12,13,14]
sum=0
for i in L:
  if i%2!=0:
    sum+=i
print(sum)

24

In [70]:
#WAP to sum all even numbers in L:
L=[11,12,13,14]
sum=0
for i in L:
  if i%2==0:
    sum+=i
print(sum)

26

In [88]:
#WAP to sum all prime numbers in L:
L=[11,12,13,14]
f=0
sum=0
for i in L:
  if i%2==0:
    f=1

  else:
    sum+=i
print(sum)

24

In [94]:
#WAP to clear all the elements in L:
L=[11,12,13,14]
L.clear()
print("List after clearing ",L)

List after clearing  []

In [98]:
#WAP to delete L:
L=[11,12,13,14]
del L
# Trying to access the list,this will result in an error
# print(L)

Q2.d is the dictionary defined as {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

In [4]:
#WAP to add key=8 and value 8.8:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
d[8]=8.8
print("After adding d is :",d)

After adding d is : {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [6]:
#WAP to remove key=2:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
del d[2]
print("after deleting d is",d)

after deleting d is {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [13]:
#WAP to check whether key 6 key is present or not:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

print("Checking whether 6 is present or not :",d[6])#this will show an error as this key is not present in dictionary

KeyError: 6

In [14]:
#WAP to count number of elements present in d:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("NUMBER OD ELEMENTS:",len(d))

NUMBER OD ELEMENTS: 5

In [18]:
#WAP to add all the values present in d:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
sum=0
for i in d:
  sum=sum+d[i]
print("Sum of values:",sum)

Sum of values: 36.4

In [20]:
#WAP to update value of 3 to 7.1:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
d[3]=7.1
print("After updating :",d)

After updating : {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [21]:
#WAP to clear dictionary:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
d.clear()
print(d)

{}

Q3.S1 is the set defined as[10,20,30,40,50,60]

   S2 is the set defined as=[40,50,60,70,80,90]

In [24]:
#WAP to add 55 and 66 in S1:
S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])
S1.add(55)
S1.add(66)
print("Set->",S1)

Set-> {66, 40, 10, 50, 20, 55, 60, 30}

In [25]:
#WAP to remove 10 and 30 from S1:
S1.remove(10)
S1.remove(30)
print("set is:",S1)

set is: {66, 40, 50, 20, 55, 60}

In [31]:
#WAP to check whether 30 is  present in S1:
S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])
if 30 in S1:
  print("found")
else:
  print("not found")

found

In [33]:
#WAP to find union and intersection between S1 and S2:
S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])
print("Union is:",S1.union(S2))
print("Intersection is:",S1.intersection(S2))

Union is: {70, 40, 10, 80, 50, 20, 90, 60, 30}
Intersection is: {40, 50, 60}

In [34]:
#WAP to find S1-S2:
S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])
print("difference is:",S1-S2)

difference is: {10, 20, 30}

Q4.WAP to print 100 random strings whose length between 6 and 8.

In [47]:
import random as r
import string as s
for i in range(100):
    length = r.randint(6, 8)
    random_string = ''.join(r.sample(s.ascii_letters, k=length))
    print(random_string)

CtQJHSO
PqDbGwdc
nTSQvlJ
pLrvlf
ebOwfIL
uhEjHelZ
JkxSHg
rGNeCDP
jwcbilD
teqXbQdj
rtblOL
OnGhKcN
vEsnFw
QWwHCAcD
mHUQqJr
ShgdQHRK
HtXePz
XDhaSVBe
ZgYVTOsk
SLOABDuZ
RoyCtcq
CaGOPku
xktAmOw
XkgDHf
WRAVLeo
YOGPJjws
XnTzuvMh
chQySx
qNhJDaTu
btSViRpf
LdTkAl
dPVxvq
AOWblR
PHACnw
NTVcsiQ
IUWpCEYt
RSAZIXBw
jyYhCb
oNAjuxaF
bFSyXvU
ucMkEV
MliSps
BKigcAdj
ThDiytKH
VbKQqu
qNxbhX
BFbTXwR
UgSYwRo
gGviENO
gnxAwX
xrALBIsf
ljvNoLw
LbXhDgeV
fkcZxl
wKdleM
cxFhUABk
sUFJlLNm
ZTPauY
OHXlSW
QnzXbweO
pNJwUlo
ecqPbzQl
fjrOXMtR
ykhZMpTv
GlwdFmR
DIKalS
BslHCQmk
IVCbXK
RIbvymK
nIFOte
jEaJlvns
yjWwVBk
SxLGyDa
BDZOaw
LJQghds
AFNEjKtv
RIdbhJG
hyTXVZWE
OHyCQo
LwYRmil
WKlBbit
lQsjCIYJ
tqZncLED
SBcWzh
Uwdcbtsg
UuYpwN
oDUejiYA
tXbKiMwS
ZKkXavel
LbcWVXj
nFsNZVd
qIbLjld
GnoYXL
KFgRqi
bwLBMtv
CzYkpsfv
KJxHwsak
MvhjIb
MSftcsum
NaoTuK

Q5.WAP to print all prime numbers between 600 and 800.

In [7]:

for num in range(600, 801):
        for i in range(2, num//2+1):
            if (num % i) == 0:
                break
        else:
            print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

Q6.WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [9]:
for num in range(100,1000):

    if num%7==0 and num%9==0:
      print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q7.WAP to create two lists of 10 random numbers between 10 and 30.find,

In [12]:
#common  numbers between two list:
import random as r
L1=[r.randint(10,30) for i in range(10)]
L2=[r.randint(10,30) for i in range(10)]
common=list(set(L1) & set(L2))
print(L1)
print(L2)
print("common numbers ->",common)

[15, 24, 14, 18, 20, 30, 17, 30, 12, 30]
[27, 22, 25, 26, 29, 18, 22, 11, 17, 15]
common numbers -> [17, 18, 15]

In [13]:
#unique numbers between two list:
unique=list(set(L1) | set(L2))
print("unique numbers are->",unique)

unique numbers are-> [11, 12, 14, 15, 17, 18, 20, 22, 24, 25, 26, 27, 29, 30]

In [16]:
#minimum numbers in both the list:
minimum=min(min(L1),min(L2))
print("minimum number ->",minimum)

minimum number -> 11

In [17]:
#maximum numbers in both the list:
maximum=max(max(L1),max(L2))
print("maximum number ->",maximum)

maximum number -> 30

In [18]:
#sum of both the list:
sum=sum(L1)+sum(L2)
print("sum is->",sum)

sum is-> 422

Q8.WAP to create a list of 100 random numbers between 100and 900.count and print the list:

In [24]:
#all odd numbers:
import random as r
l1=[r.randint(100,900) for i in range(100)]
odd_num = [num for num in l1 if num % 2 != 0]
count = len(odd_num)

print("List of 100 random numbers between 100 and 900:",l1)
print("Count of odd numbers:", count)
print("List of all odd numbers:",odd_num)

List of 100 random numbers between 100 and 900: [124, 876, 114, 374, 445, 460, 208, 794, 451, 663, 686, 711, 266, 317, 344, 389, 531, 144, 107, 848, 627, 178, 326, 188, 528, 386, 368, 124, 641, 468, 376, 452, 403, 793, 458, 442, 222, 449, 766, 580, 768, 642, 530, 537, 789, 714, 107, 318, 137, 553, 230, 116, 176, 630, 863, 454, 420, 321, 802, 171, 459, 128, 673, 584, 649, 136, 315, 713, 604, 290, 520, 172, 273, 642, 785, 326, 628, 421, 892, 162, 867, 569, 176, 859, 496, 420, 123, 778, 731, 575, 143, 133, 374, 383, 736, 438, 617, 324, 895, 878]
Count of odd numbers: 40
List of all odd numbers: [445, 451, 663, 711, 317, 389, 531, 107, 627, 641, 403, 793, 449, 537, 789, 107, 137, 553, 863, 321, 171, 459, 673, 649, 315, 713, 273, 785, 421, 867, 569, 859, 123, 731, 575, 143, 133, 383, 617, 895]

In [25]:
#all even numbers:
import random as r
l1=[r.randint(100,900) for i in range(100)]
even_num = [num for num in l1 if num % 2 == 0]
count = len(even_num)

print("List of 100 random numbers between 100 and 900:",l1)
print("Count of even numbers:", count)
print("List of all even numbers:",even_num)

List of 100 random numbers between 100 and 900: [782, 757, 329, 466, 244, 148, 594, 284, 445, 738, 830, 127, 512, 693, 246, 354, 114, 362, 101, 391, 510, 638, 503, 649, 729, 875, 490, 278, 275, 898, 805, 349, 460, 128, 605, 185, 849, 890, 685, 197, 704, 782, 118, 679, 652, 799, 378, 692, 608, 587, 506, 140, 361, 474, 199, 702, 469, 454, 414, 258, 692, 283, 527, 560, 585, 295, 158, 344, 341, 442, 428, 219, 820, 581, 778, 729, 409, 706, 366, 270, 438, 709, 655, 212, 699, 810, 532, 155, 140, 852, 735, 451, 416, 869, 767, 391, 489, 253, 138, 137]
Count of even numbers: 54
List of all even numbers: [782, 466, 244, 148, 594, 284, 738, 830, 512, 246, 354, 114, 362, 510, 638, 490, 278, 898, 460, 128, 890, 704, 782, 118, 652, 378, 692, 608, 506, 140, 474, 702, 454, 414, 258, 692, 560, 158, 344, 442, 428, 820, 778, 706, 366, 270, 438, 212, 810, 532, 140, 852, 416, 138]

In [34]:
from ast import JoinedStr
#all prime numbers:
import random as r
l1=[r.randint(100,900) for i in range(100)]
prime_num=[]
for num in l1:

    if num > 1:
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_num.append(num)



print("List of 100 random numbers between 100 and 900:",l1)
print("List of all prime numbers:",prime_num)
print("count->",len(prime_num))

List of 100 random numbers between 100 and 900: [263, 681, 484, 481, 878, 349, 617, 804, 745, 861, 610, 149, 293, 506, 163, 733, 451, 900, 887, 558, 390, 454, 503, 626, 712, 698, 474, 122, 460, 279, 387, 640, 218, 541, 565, 273, 479, 691, 881, 405, 462, 730, 851, 839, 738, 293, 538, 275, 730, 782, 342, 635, 187, 599, 626, 163, 219, 447, 579, 442, 139, 151, 811, 725, 279, 383, 806, 770, 589, 806, 646, 737, 511, 636, 767, 338, 451, 594, 455, 224, 332, 259, 471, 404, 439, 397, 819, 189, 525, 663, 882, 550, 395, 114, 851, 566, 637, 153, 534, 183]
List of all prime numbers: [263, 349, 617, 149, 293, 163, 733, 887, 503, 541, 479, 691, 881, 839, 293, 599, 163, 139, 151, 811, 383, 439, 397]
count-> 23

Q9. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file

In [39]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
with open("dictionary.txt","w") as file:
  for key,value in D.items():
    file.write(f"key:{key},value:{value}\n")
print("operation completed")

operation completed

Q10.. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:

One, 3

Two, 3

Four, 4

In [41]:
L=["One","Two","Three","Four","Five"]
with open("list.txt","w") as file:
  for element in L:

    file.write(f"{element},len{element}")
print("operation completed")

operation completed

 Q11.Write to the file 100 random strings whose length between 10 and 15

In [45]:
import random as r
import string as s
with open("random_strng.txt","w") as file:
  for i in range(100):
    len=r.randint(10,15)
    random_strng = ''.join(r.sample(s.ascii_letters , k=len))

    file.write(f"{random_strng}\n")

print("100 random strings have been written to 'random_strng.txt'.")

100 random strings have been written to 'random_strng.txt'.

Q12. Write to the file all prime numbers between 600 and 800.

In [46]:
import string as s
import random as r
with open("prime_num.txt","w") as file:
  for num in range(600,800):
    for i in range(2,num//2+1):
      if num%i==0:
        break;
  file.write(f"{num}")
print("All prime numbers have been written to prime_num.txt.")

All prime numbers have been written to prime_num.txt.

Q13.WAP to calculate the time taken by a program.

In [54]:
import time as t
# Start time
start_time = t.time()
for i in range(5):
    print(i)
    t.sleep(1)  # some processing time

# End time
end_time = t.time()

total_time = end_time - start_time#total time taken

print("Total time taken by the program is:", total_time,"seconds")

0
1
2
3
4
Total time taken by the program is: 5.008995771408081 seconds